ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 4px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}

li{
    color: aliceblue;
}
*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul{
    background: rgb(39, 39, 39);
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 10px;
}
ul li{
    position: relative;
    list-style: none;
}
ul li a{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
body{
    background: black;
    color: rgb(255, 255, 255);
}
div#marca0{
    background: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
nav#marca1{
    margin-left: 50px;
}
section#ia{
    margin-top: 50px;
}
h1#ia{
    margin-bottom: 10px;
    font-size: 30px;
}
p#desen{
    font-size: 15px;
}
div#inicio0{
    margin-left: 130px;
    margin-right: 140px;
    padding: 20px;
    text-align: center;
    text-align: justify;
}

article#desenvolvendo{
    margin-top: 50px;
    font-size: large;
    text-align: left;
    margin-left: 90px;
    text-align: justify;
    margin-right: 100px;
    margin-bottom: 700px;
    }
footer{
    margin-top: 20px;
    text-align: center;
}
div#inicio1{
    background: url("inicio2.jpg");
    height: 400px;
}
div#footer{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background: white;
    width: 150px;
    color: black;
    border-radius: 10px;
    margin: auto;
}
