ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 4px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}

li{
    color: aliceblue;
}
*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul{
    background: rgb(39, 39, 39);
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 10px;
}
ul li{
    position: relative;
    list-style: none;
}
ul li a{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}